<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifood.ifood">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ifood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mainMenu">
        <activity android:name=".wellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".categoryIfood" />
        <activity android:name=".mainMenuActivity" />
        <activity android:name=".detailFoodActivity" />
        <activity android:name=".LoginFActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Register" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".UserDetailActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".ViewCommentActivity" />
        <activity android:name=".EditCookbook" />
        <activity android:name=".DetailCookbook"/>
        <activity android:name=".ShoppingList"/>
        <activity android:name=".TransactionAddressActivity"/>
        <activity android:name=".TransactionHistoryActivity"/>
        <activity android:name=".EditAddressActivity" />
        <activity android:name=".TransactionConfirmActivity" />
        <activity android:name=".CreateDishActivity"></activity>
        <activity android:name=".ViewRecipesActivity" />
        <activity android:name=".ViewCookbooksActivity"></activity>
    </application>

</manifest>